{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
{% include 'components/Navbar.html.twig' %}
<main>

    <h1 class="m-6 text-2xl font-bold">Facture n°XXX</h1>
    <section class="m-6 flex justify-between">

        <div class="">  
            <h3 class="text-xs font-bold">Professionnel</h3>
            <p class="text-small">Jean Dubois</p>
            <p class="text-small">242 Rue du Faubourg Saint-Antoine</p>
            <p class="text-small">75012, Paris</p>
        </div>
        <div>  
            <h3 class="text-xs font-bold">Facturé à </h3>
            <p class="text-small">Jean Dufeu</p>
            <p class="text-small">20 Rue de la Fontaine</p>
            <p class="text-small">75017, Paris</p>
        </div>
    </section>
    <div class="m-6">
        <h3 class="text-xs font-bold">Date   de la facture</h3>
        <p class="text-small"> 19 décembre 2023 </p>
    </div>
    <div class="flex justify-center">
        <hr class="w-11/12 border-1 border-t border-blue-500">
    </div>
    <div class="flex gap-2 mt-6 ml-6">
        <span class="flex-auto w-6/12 text-xs font-bold">Description</span>
        <span class="flex-auto w-1/6 text-xs font-bold">Quantité</span>
        <span class="flex-auto w-1/6  text-xs font-bold">Prix Unitaire</span>
        <span class="flex-auto w-1/6 text-xs font-bold">Prix H.T</span>
    </div>
    <div class="flex  bg-white min-h-250 m-3 pl-3 py-3">
        <span class="flex-auto w-6/12 text-small">Réparation lavabo</span>
        <span class="flex-auto w-1/6 text-small">2</span>
        <span class="flex-auto w-1/6 text-small">150</span>
        <span class="flex-auto w-1/6 text-small">300</span>
    </div>
    <section class="w-11/12 flex items-end flex-col justify-between">
        <div class="w-1/3 flex justify-between">
            <div>
                <span class="text-small">Total H.T</span>
            </div>
            <div>
                <span class="text-small">300</span>
            </div>
        </div>
        <div class="w-1/3 flex">
            <span class="text-small">TVA à 15%</span>
        </div>
        <div class="w-1/3 flex justify-between">
            <div>
                <span class="text-small">Total T.T.C</span>
            </div>
            <div>
                <span class="text-small">345</span>
            </div>
        </div>
    </section>

</main>
{% endblock %}
