{% extends 'base.html.twig' %}

{% block title %}Plumbill
{% endblock %}

{% block body %}
    {% include 'components/Navbar.html.twig' %}

    <main class="mx-auto container">
        <header class="mb-2 p-1 flex justify-between items-center">
            <h1 class="font-bold text-3xl">Liste des factures</h1>
            <a href="{{ path('invoice_search') }}">Filtrer</a>
        </header>
        <section class="flex flex-col w-full gap-1">
            {% for invoice in invoices %}
                <twig:InvoiceListItem :invoice="invoice"/>
            {% endfor %}
        </section>
    </main>
{% endblock %}


