{% extends 'base.html.twig' %}

{% block title %} Facture
{% endblock %}

{% block body %}
{% include 'components/Navbar.html.twig' %}
	{% include 'components/InvoiceHeader.html.twig' %}
	<h1 class='px-6 font-bold'>Liste des factures</h1>
	{% for invoice in invoices %}
		{% include 'components/InvoiceData.html.twig' %}
	{% endfor %}
{% endblock %}
