{% extends 'base.html.twig' %}

{% block title %}Plumbill
{% endblock %}

{% block body %}
	{% include 'components/Navbar.html.twig' %}

	<main class="mx-auto">
		{{form(form)}}
			
	</main>
	
{% endblock %}

