{% extends 'base.html.twig' %}

{% block title %}Creation de compte
{% endblock %}

{% block body %}
{% include 'components/Navbar.html.twig' %}
	<div class="items-center h-screen flex justify-center sm:bg-lightgrey">
		{% include 'components/AdminCreateAccountForm.html.twig' %}
	</div>
{% endblock %}
