{% extends 'base.html.twig' %}

{% block title %}Creation de compte
{% endblock %}

{% block body %}


    <div class="items-center h-screen flex justify-center sm:bg-gray-50">
        {% include 'components/AdminCreateAccountForm.html.twig' %}
    </div>
{% endblock %}
