{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="items-center h-screen flex justify-center sm:bg-lightgrey">
		{% include 'components/RegisterForm.html.twig' %}
	</div>
{% endblock %}
