{% extends 'base.html.twig' %}

{% block title %}Service
{% endblock %}

{% block body %}
{% include 'components/Navbar.html.twig' %}
	{% include 'components/ServiceHeader.html.twig' %}

	<h1 class='px-6 font-bold'>Liste des services</h1>
	{% for service in services %}
		{% include 'components/ServiceData.html.twig' %}
	{% endfor %}
{% endblock %}
