{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}

    <h1 class='px-6 font-bold'>Liste des clients</h1>
    {% for customer in customers %}
        {% include 'components/CustomerData.html.twig' %}
    {% endfor %}
    <div class="navigation flex justify-center mb-8">
        {{ knp_pagination_render(customers, 'components/TailwindPagination.html.twig') }}
    </div>
    {% include "components/ModalCustomer.html.twig" %}

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('modal-customer') }}
{% endblock %}

{# <a href="#" onclick="openModal(event)" class="text-primary hover:underline">Nouveau client</a> #}
