{% extends 'base.html.twig' %}

{% block title %}Plumbill
{% endblock %}

{% block body %}


	<h1>Home page</h1>
	<a href="{{ path('app_logout') }}" class="text-center w-full bg-white text-button-color p-1.5 border border-button-color rounded-lg" type="submit">Logout</a>


{% endblock %}
