{% extends 'base.html.twig' %}

{% block title %}Plumbill{% endblock %}

{% block body %}
   {# {% include 'components/Navbar.html.twig' %} #}
    {# <div class="items-center h-screen flex justify-center bg-white">
        {% include 'components/LoginForm.html.twig' %}
    </div> #}


     <div class="items-center h-screen flex justify-center bg-white">
        {% include 'components/RegisterForm.html.twig' %}
    </div>

{#    {% include 'components/RegisterForm.html.twig' %}#}
{#    {% include 'components/QuoteForm.html.twig' %}#}
   {# {% include 'components/QuoteList.html.twig' %} #}
{#    {% include 'components/WidgetOpenInvoice.html.twig' %}#}
{% endblock %}
