{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}
    <main class="container mx-auto space-y-2 px-4 pt-4 md:px-0">
        <header class="flex justify-between flex-row">
            <h1 class="font-bold text-3xl">Liste des utilisateurs de l'entreprise {{ company.name }}</h1>
        </header>
        <section>
            {% if users|length == 0 %}
                <p class="mt-2">Aucun utilisateur trouvé</p>
            {% endif %}
            <div class="w-full gap-2 grid grid-cols-1 md:grid-cols-2 md:gap-2 xl:grid-cols-4 xl:gap-3 2xl:grid-cols-4 2xl:gap-4">
                {% for user in users %}
                    <section class="col-span-12 grid grid-cols-subgrid">
                        <div class="col-span-10 flex flex-col">
                            <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">{{ user.email }}</span>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </section>
        <div class="navigation flex justify-center mb-8">
            {{ knp_pagination_render(users, 'components/TailwindPagination.html.twig') }}
        </div>
    </main>
{% endblock %}
