{% extends 'base.html.twig' %}

{% block title %}Demandes de compte entreprise
{% endblock %}

{% block body %}
	{% include 'components/Navbar.html.twig' %}
	<main class="pt-4 mx-auto container px-4 md:px-0">
		<h1 class='font-bold text-3xl'>Demandes de compte entreprise</h1>
		<div class="w-full gap-4 grid grid-cols-1 md:grid-cols-2 md:gap-2 xl:grid-cols-4 xl:gap-3 2xl:grid-cols-4 2xl:gap-4">
			{% for user in users %}

				{% include 'components/RequestCompanyAccount.html.twig' %}

			{% endfor %}
		</div>
	</main>
{% endblock %}
