{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	{% include 'components/Navbar.html.twig' %}
	<main class="pt-4 mx-auto container px-4 md:px-0">
		<h1 class='font-bold text-3xl'>Demandes de compte entreprise</h1>
		<div class='flex flex-col gap-4 pt-4'>
			{% for user in users %}

				{% include 'components/RequestCompanyAccount.html.twig' %}

			{% endfor %}
		</div>
	</main>
{% endblock %}
