{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}


	<h1 class='px-6 font-bold'>Mon compte</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    <br>
    <a href="{{ path('afficher_profil') }}">Retour au profil</a>


{% endblock %}


