{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<h1 class='px-6 font-bold'>Mon compte</h1>
	{% include 'components/MyAccount.html.twig' %}
{% endblock %}
