{% extends 'base.html.twig' %}

{% block title %}Hello RoleController!
{% endblock %}

{% block body %}

	{% include 'components/CreateRoleForm.html.twig' %}
	<h1 class='px-6 font-bold'>Liste des roles</h1>
	{% for role in roles %}
		{% include 'components/RoleList.html.twig' %}
	{% endfor %}

{% endblock %}
