{% extends 'base.html.twig' %}

{% block title %}Plumbill{% endblock %}

{% block body %}
   {% include 'components/Navbar.html.twig' %}
   <header>
       <h1 class="text-2xl">Devis</h1>
        <div>
            <h2>Client</h2>
            <div class="w-full flex justify-between">
                <span class="font-semibold">Nom</span>
                <span>Lorem, ipsum dolor.</span>
            </div>
            <div class="w-full flex justify-between">
                <span class="font-semibold">Nom</span>
                <span>Lorem, ipsum dolor.</span>
            </div>
        </div>
        <div class="grid grid-cols-4">
        <div class="grid-"><span></span><span></span><span></span><span></span></div>
        </div>
   </header>
{% endblock %}
