{% extends 'base.html.twig' %}

{% block title %}Plumbill
{% endblock %}

{% block body %}
	{% include 'components/Navbar.html.twig' %}

	<main class="mx-2 mt-2">
		<header class="mb-2 p-1">
			<h1 class="font-bold text-3xl">Liste des devis</h1>
		</header>
		<section class="mb-2 p-1 bg-white shadow-sm">
			<details>
				<summary class="font-bold">Filtres</summary>
				{{ form(searchForm, {'method': 'GET' }) }}
				<button type="submit" class="rounded px-2 py-1 flex-1 bg-blue-800 font-bold text-white">Filtrer</button>
			</details>
		</section>
		<section class="grid grid-cols-quote-list gap-x-2 gap-y-4 p-2 bg-white shadow-sm">
			<div class="grid grid-cols-subgrid gap-2 col-span-3">
				<span class="text-sm font-bold">N° devis</span>
				<span class="text-sm font-bold">Client</span>
				<span class="text-sm font-bold justify-self-end">Montant</span>
			</div>
			{% for quote in quotes %}
				<div class="grid grid-cols-subgrid gap-2 col-span-3">
					<span class="text-sm">{{ quote.quoteNumber}}</span>
					<span class="text-sm">{{ quote.customer.getName()}}</span>
					<span class="text-sm justify-self-end">990,00€</span>
				</div>
			{% endfor %}
		</section>
	</main>
{% endblock %}


