{% extends 'base.html.twig' %}

{% block title %}Plumbill
{% endblock %}

{% block body %}
	{% include 'components/Navbar.html.twig' %}

	<main class="mx-auto">
		<header class="mb-2 p-1 bg-white ">
			<h1 class="text-2xl">Devis</h1>
			<div>
				<h2>Client</h2>
				<div class="w-full flex justify-between">
					<span class="font-semibold">Nom</span>
					<span>Lorem, ipsum dolor.</span>
				</div>
				<div class="w-full flex justify-between">
					<span class="font-semibold">Nom</span>
					<span>Lorem, ipsum dolor.</span>
				</div>
			</div>
		</header>
		<section class="grid grid-cols-quote-items">
			<div class="grid grid-cols-subgrid col-span-4">
				<span class="font-semibold">Éléments</span>
				<span class="font-semibold">Qt</span>
				<span class="font-semibold">TVA</span>
				<span class="font-semibold">Total</span>
			</div>
			{% for item in [0, 1, 2] %}
				<div class="grid grid-cols-subgrid col-span-4">
					<span>Réparation de robinet</span>
					<span>1</span>
					<span>10%</span>
					<span>272,73€</span>
				</div>
			{% endfor %}
		</section>
	</main>

	{{form_start(form)}}
	<div id="quoteitem" data-prototype="{{ form_row(form.quoteitems.vars.prototype)|e('html_attr')}}">
		{{form_row(form.quoteitems)}}
		<span></span>
	</div>
	{{form_end(form)}}
{% endblock %}

{% block javascript %}
	<script>
		let collection,
boutonAjout,
span;
window.onload = () => {
collection = document.querySelector("#quoteitem")
span = collection.querySelector("span")

boutonAjout = document.createElement("button");
boutonAjout.className = "ajout-quoteitem"
boutonAjout.innerText = "Ajouter un service à votre devis"

let nouveauBouton = span.append(boutonAjout)

collection.dataset.index = collection.querySelector("input").length

boutonAjout.addEventListener("click", function () {
addButton(collection, nouveauBouton)
})
}

function addButton(collection, nouveauButton) {
let prototype = collection.dataset.prototype

let index = collection.dataset.index

prototype = prototype.replace(/__name__/g, index)

let content = document.createElement("html")
content.innerHTML = prototype
let newForm = content.querySelector("div")

let boutonSuppr = document.createElement("button")
boutonSuppr.type = "button"
boutonSuppr.id = "delete-quoteitem" + index
boutonSuppr.innerText = "Supprimer cette ligne"

newForm.append(boutonSuppr)

collection.dataset.index ++;

let boutonAjout = collection.querySelector(".ajout-quoteitem")

span.insertBefore(newForm, boutonAjout);

boutonSuppr.addEventListener("click", function() => {
this.previousElementSibling.parent.remove()
})
}
	</script>
{% endblock %}
