
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de votre mot de passe</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .container { width: 100%; margin: auto; }
        .content { padding: 20px; background-color: #f4f4f4; border-radius: 10px; }
        .button { font-weight: bold;  width: 100%;  font-size: 0.875rem;}
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <h2>Réinitialisation de votre mot de passe</h2>
        <p>Vous avez demandé à réinitialiser votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour définir un nouveau mot de passe :</p>
        <p><a href="{{ url('app_password_reset', {token: token}) }}" class="button">Réinitialiser mon mot de passe</a></p>
        <p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, veuillez ignorer cet email.</p>
    </div>
</div>
</body>
</html>