<div class="m-8 flex bg-white" style="height: calc(90vh - 100px);">
    <div class="m-8 bg-white flex-col space-x-4 w-full">
        <div class="flex flex-col gap-8">
            <h1 class="font-bold text-2xl">Devis</h1>
            <div>
                <h2 class="font-bold">Client</h2>
                <input type="text" class="border-2">
            </div>

            <hr class="w-full border-1 border-t border-blue-500 mt-2">

            <div class="flex flex-col gap-8 w-3/12">
                <table>
                    <tbody>
                    <tr>
                        <td><h2 class="font-bold">Date</h2></td>
                        <td><input type="text" class="border-2"></td>
                    </tr>
                    <tr>
                        <td><h2 class="font-bold">Date de validité</h2></td>
                        <td><input type="text" class="border-2"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <hr class="w-full border-1 border-t border-blue-500 mt-2">

            <div class="flex flex-col gap-8">
                <table>
                    <thead>
                    <tr style="text-align: left;">
                        <th>Description</th>
                        <th>Date</th>
                        <th>Qté</th>
                        <th>Unité</th>
                        <th>Prix €</th>
                        <th>TVA</th>
                        <th>Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                        <td><input type="text" class="border-2"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit" style="background-color: #0065E0; width: 200px; padding: 5px; color: white">Ajouter une ligne
            </button>


            <div class="flex justify-end">
                <div class="flex flex-col gap-8 w-3/12">
                    <table>
                        <tbody>
                        <tr>
                            <div class="flex gap-8">
                                <td><h2 class="font-bold">Total HT</h2></td>
                                <td><p>0,00 €</p></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="flex gap-8">
                                <td><h2 class="font-bold">TVA 20 %</h2></td>
                                <td><p>0,00 €</p></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="flex gap-8">
                                <td><h2 class="font-bold">Total dû</h2></td>
                                <td><p>0,00 €</p></td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                    <hr class="w-full border-1 border-t border-blue-500 mt-2">
                </div>
            </div>
        </div>

    </div>

</div>
