<div class="bg-white w-full h-72 p-8 flex flex-col gap-8">
    <h1 class="font-bold text-2xl">Factures ouvertes</h1>

    <div class="flex flex-row gap-4 items-center">
        <div style="width: 40px; height: 40px; border-radius: 100px; background-color: #0065E0"></div>
        <p>Créer une facture</p>
    </div>

    <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-4">
            <div style="width: 24px; height: 24px; border-radius: 100px; background-color: #0065E0"></div>
            <p>Non échues</p>
        </div>

        <div class="flex flex-row gap-4">
            <div style="width: 24px; height: 24px; border-radius: 100px; background-color: #FF9900"></div>
            <p>En retard (- de 30 jours)</p>
        </div>

        <div class="flex flex-row gap-4">
            <div style="width: 24px; height: 24px; border-radius: 100px; background-color: #FF3F3F"></div>
            <p>En retard (+ de 30 jours)</p>
        </div>
    </div>
</div>