{{ form_start(form, {'attr': {'class': 'flex flex-col w-full gap-2'}}) }}

	{{ form_end(form) }}


		<button onclick="openCreateUserModal()" class="bg-white flex-1 text-blue-800 font-bold p-2 rounded border border-blue-800">
			Fermer
		</button>

		<script>
			const modal = document.getElementById("myModal");

function openModal() {
modal.classList.remove("hidden");
}

function openCreateUserModal() {
modal.classList.add("hidden");
}

window.onclick = function (event) {
if (event.target === modal) {
openCreateUserModal();
}
};

</script>
