<a href="{{ path('customer_details', {'id': customer.id}) }}">
    <div class="bg-white dark:bg-blue-darker p-4 mx-6 my-2 rounded-lg flex flex-col">
        <div class='flex gap-2 justify-between items-center'>
            <div class='flex gap-4 items-center'>
                <p class="w-10 h-10 bg-slate-300 rounded-full flex items-center justify-center font-bold">
                    {{ customer.name|slice(0, 1)|capitalize }}
                </p>
                <p class=''>
                    {{ customer.name }}
                </p>
            </div>
            <div>
                <a href="{{ path('customer_delete', {'id': customer.id}) }}" class='text-error'>
                    <i class="material-icons">delete_outline</i>
                </a>
            </div>
        </div>
    </div>
</a>
