{% props label = "Options" %}
<div class="relative inline-block text-left">
    <div>
        <button type="button"
                class="border border-primary
                hover:bg-blue-dark hover:border-blue-dark
                dark:bg-blue-light/5 dark:border-primary/25 dark:hover:bg-primary/25  dark:bg-blue-darker dark:text-grey
                items-center gap-1 inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-grey-dark shadow-sm ring-1 ring-inset ring-grey-light"
                id="menu-button" aria-expanded="true" aria-haspopup="true">
            {{ label }}
            <i class="material-symbols-outlined">expand_more</i>
        </button>
    </div>

    <!--
      Dropdown menu, show/hide based on menu state.
  
      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
         role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-grey-dark", Not Active: "text-gray-700" -->
            <a href="#" class="text-grey-dark block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Account
                settings</a>
            <a href="#" class="text-grey-dark block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
            <a href="#" class="text-grey-dark block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>

        </div>
    </div>
</div>