<div class="bg-white p-4 mx-6 my-2 rounded-lg flex flex-col">
	<div class='flex gap-2 justify-between items-center'>
		<div>
			<p class=''>{{ invoice.value }}%</p>
		</div>
		<div>
			<a href="{{ path('delete_invoice', {'id': invoice.id}) }}" class='text-red-500'>
				<i class="material-icons">delete_outline</i>
			</a>
		</div>
	</div>
</div>
