<div class="bg-white flex justify-center items-center">
    <div class="bg-white flex-col w-full justify-center">
        <div class="flex flex-col items-center">
            <div class="w-72 h-24">
                <img src={{ asset('img/logo2.png') }} alt="">
            </div>
            <h1 class="font-bold text-2xl ">Connexion</h1>


            <div class="flex flex-col w-full gap-3">

                <label for="username" class="text-sm">Nom d'utilisateur</label>
                <input type="text" id="username" class="border-2 w-full p-2" placeholder="Nom d'utilisateur">

                <label for="password" class="text-sm">Mot de passe</label>
                <input type="password" id="password" class="border-2 w-full p-2" placeholder="Mot de passe">


                <div class="flex flex-row gap-2">
                    <button class="" type="submit" style="background-color: #0065E0; padding: 5px; color: white">
                        Créer un compte
                    </button>
                    <button class="" type="submit" style="background-color: #0065E0; padding: 5px; color: white">
                        Se connecter
                    </button>
                </div>

                <a href="">Mot de passe oublié ?</a>


            </div>
        </div>
    </div>
</div>





