<nav class="bg-white p-4 flex justify-between items-center">
    <div class="flex items-center">
        <img src="{{ asset('img/logo.png') }}" alt="image logo">
    </div>
    <ul class="flex space-x-4 text-white">
        <li>
            <a href="/" class="hover:underline text-nav-purple">FACTURES</a>
        </li>
        <li>
            <a href="/" class="hover:underline text-nav-purple">SERVICES</a>
        </li>
        <li>
            <a href="/" class="hover:underline text-nav-purple">DEVIS</a>
        </li>
        <li>
            <a href="/" class="hover:underline text-nav-purple">CLIENTS</a>
        </li>
        <li>
            <a href="/" class="hover:underline text-nav-purple">MON COMPTE</a>
        </li>
        <li>
            <a href="/" class="hover:underline text-nav-purple">DECONNEXION</a>
        </li>
    </ul>
</nav>
