<div class="flex items-center justify-between px-2 py-2 md:py-4 bg-white">
    <div>
        <a href="{{path('default_index')}}"><img src="{{ asset('img/logo.png') }}" alt="image logo"></a>
    </div>
    <div class="space-x-4 text-blue-800 md:flex hidden">
        <a href="/" class="hover:underline">FACTURES</a>
        <a href="/" class="hover:underline">SERVICES</a>
        <a href="/" class="hover:underline">DEVIS</a>
        <a href="/" class="hover:underline">CLIENTS</a>
        <a href="/" class="hover:underline">MON COMPTE</a>
        <a href="{{ path('app_logout') }}" class="hover:underline">DECONNEXION</a>
    </div>
    <button id="menuButton" class="focus:outline-none md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             class="h-6 w-6 text-blue-800">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </button>
</div>
<div id="menuItems" class="fixed top-0 left-0 w-screen h-screen bg-white p-2 overflow-auto hidden md:hidden space-y-4">
    <div class="flex items-center justify-between">
        <div>
            <img src="{{ asset('img/logo.png') }}" alt="image logo">
        </div>
        <button id="closeButton" class="focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                 class="h-6 w-6 text-blue-800">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </div>
    <div class="space-y-2">
        <a href="/" class="block hover:underline text-blue-800">FACTURES</a>
        <a href="/" class="block hover:underline text-blue-800">SERVICES</a>
        <a href="/" class="block hover:underline text-blue-800">DEVIS</a>
        <a href="/" class="block hover:underline text-blue-800">CLIENTS</a>
        <a href="/" class="block hover:underline text-blue-800">MON COMPTE</a>
        <a href="/" class="block hover:underline text-blue-800">DECONNEXION</a>
    </div>

</div>

<script>
    const menuItems = document.getElementById('menuItems');

    document.getElementById('menuButton').addEventListener('click', function () {
        menuItems.classList.remove('hidden');
        menuItems.classList.add('overflow-hidden');
    });

    document.getElementById('closeButton').addEventListener('click', function () {
        menuItems.classList.add('hidden');
        menuItems.classList.add('overflow-auto');
    });
</script>
