<div class="h-screen m-8 flex bg-white flex-col" style="height: calc(90vh - 98px);">
    <div class="m-8 bg-white flex-col space-x-4">
        <div class="flex flex-col gap-4">
            <h1 class="font-bold text-2xl">Devis</h1>

            <ul class="flex space-x-14 text-white">
                <li>
                    <a href="/" class="hover:underline text-black">Tout (0)</a>
                </li>
                <li>
                    <a href="/about" class="hover:underline text-black">Acceptés (0)</a>
                </li>
                <li>
                    <a href="/contact" class="hover:underline text-black">Brouillon (0)</a>
                </li>
                <li>
                    <a href="/about" class="hover:underline text-black">Plus</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-8 flex flex-col justify-between flex-grow">
        <div class="flex flex-col">
            <table>
                <thead>
                <tr style="text-align: left;">
                    <th>NUMÉRO</th>
                    <th>CLIENT</th>
                    <th>CRÉÉ LE</th>
                    <th>TOTAL TTC</th>
                    <th>STATUT</th>
                </tr>
                </thead>
                <tbody class="text-blue-500">
                <tr class="bg-gray-100">
                    <td class="p-3">123</td>
                    <td class="p-3">Client ABC</td>
                    <td class="p-3">2023-12-01</td>
                    <td class="p-3">250.00 €</td>
                    <td class="p-3">Payé</td>
                </tr>
                <tr class="bg-white">
                    <td class="p-3">124</td>
                    <td class="p-3">Client XYZ</td>
                    <td class="p-3">2023-11-25</td>
                    <td class="p-3">150.50 €</td>
                    <td class="p-3">En attente</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-between justify-end">
            <p>TOTAL</p>
            <p>400 €</p>
        </div>
    </div>
</div>
