<div class="flex flex-col rounded-b-2xl">
	<div class='p-6 w-full flex flex-row justify-between rounded-lg'>
		<h1 class='text-2xl font-bold'>Service</h1>
		<a href="{{ path('service_new') }}" class="font-semibold py-2 px-4 rounded border border-primary bg-primary text-white hover:bg-blue-dark hover:border-blue-dark dark:bg-blue-light/5 dark:border-primary/25 dark:hover:bg-primary/25">
			Ajouter un service
		</a>
	</div>
