<div class="bg-darkPurple flex flex-col rounded-b-xl w-screen">
	<h1 class='text-white text-2xl font-bold px-6 pt-6'>Tax</h1>
	<div class='flex flex-row p-6 justify-center gap-4 items-center'>
		{{ form_start(form, {'attr': {'class': 'flex w-full justify-center gap-4'}}) }}
		{{ form_row(form.value, {'attr': {'class': 'rounded-lg p-2 flex-1'}}) }}
		{{ form_row(form.save, {'attr': {'class': 'rounded-lg p-2 flex-1 bg-white'}}) }}
		{{ form_end(form) }}
	</div>
</div>
