<div class="bg-blue-500 flex flex-col">
	<h1 class='text-white text-2xl font-bold px-6 pt-6'>Tax</h1>
	<div class='flex p-6 justify-center gap-4'>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
</div>
