<a href="{{path('app_user_details', {'id': user.id})}}">
<div class="bg-white p-4 mx-6 my-2 rounded-lg flex flex-col">
	<div class='flex gap-2 justify-between items-center'>
		<div class='flex gap-4 items-center'>
			<p class="w-10 h-10 bg-slate-300 rounded-full flex items-center justify-center font-bold">{{ user.email|slice(0, 1)|capitalize }}
			</p>
			<p class=''>
				{{ user.email }}
			</p>
		</div>
		<div>
			<a href="{{ path('delete_user', {'id': user.id}) }}" class='text-red-500'>
				<i class="material-icons">delete_outline</i>
			</a>
		</div>
	</div>
</div>
{# </a> #}
