<div class="bg-white p-4 mx-6 my-2 rounded-lg flex flex-col">
	<div class='flex gap-2 justify-between'>
		<div class='flex gap-2 flex-col '>

			<span class='flex gap-2'>
				<p class='font-bold'>Prénom</p>
				<p class=''>
					{{ user.firstName}}
				</p>
			</span>


			<span class='flex gap-2'>
				<p class='font-bold'>Nom</p>
				<p class=''>
					{{ user.lastName}}
				</p>
			</span>
			<span class='flex gap-2'>
				<p class='font-bold'>email</p>
				<p class=''>
					{{ user.email }}
				</p>
			</span>

			<span class='flex gap-2'>
				<p class='font-bold'>Entreprise</p>
				<p class=''>
					{{ user.company.name }}
				</p>
			</span>

		</div>
		<div>
			<a href="#" onclick="openModal(event)" class='text-blue-800 '>
				<i class="material-icons">edit</i>
			</a>
		</div>

		{% if is_granted('ROLE_ADMIN') %}
			<!-- Modale -->
			<div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50 flex items-center justify-center p-6">
				<div class="bg-white p-8 rounded shadow-lg">
					<h2 class="text-lg font-bold mb-4">Modifier les informations</h2>
					{% include 'components/AdminCreateUserForm.html.twig' %}
				</div>

			</div>

		{% else %}


			<!-- Modale -->
			<div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50 flex items-center justify-center p-6">
				<div class="bg-white p-8 rounded shadow-lg">
					<h2 class="text-lg font-bold mb-4">Modifier les informations</h2>
					{% include 'components/CompanyCreateUserForm.html.twig' %}
				</div>

			</div>
		{% endif %}


		<script>

			const modal = document.getElementById("myModal");


function openModal(event) {
event.preventDefault();
const modal = document.getElementById("myModal");
modal.classList.remove("hidden");
}


function closeModal() {
modal.classList.add("hidden");
}


window.onclick = function (event) {
if (event.target === modal) {
closeModal();
}
};


closeButton.onclick = function () {
closeModal();
};
		</script>
	</div>
</div>
