<div class="flex flex-col rounded-b-2xl w-screen">
	<div class='p-6 w-full flex flex-row justify-between rounded-lg'>

		<h1 class='text-2xl font-bold'>Utilisateurs</h1>

		<button onclick="openModal()" class="bg-darkPurple text-white font-bold py-2 px-4 rounded w-auto items-center flex justify-center gap-2 text-sm">
			<p>Ajouter un utilisateur</p>
		</button>

	</div>
	<!-- Modale -->
	<div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50 flex items-center justify-center">
		<button onclick="closeModal()" class='bg-black'></button>
		<div class="bg-white p-8 rounded shadow-lg">
			<h2 class="text-lg font-bold mb-4">Ajout d'un utilisateur</h2>

			{% if is_granted('ROLE_ADMIN') %}
				{% include 'components/AdminCreateUserForm.html.twig' %}
			{% else %}
				{% include 'components/CreateUserForm.html.twig' %}
			{% endif %}


		</div>
	</div>
