{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block body %}
	
	<div class="flex items-center justify-center flex-col mt-40">
		<h1 class="text-4xl text-red-500 mb-4 text-center font-bold">Erreur 403 - Accès interdit</h1>
		<p class="text-lg text-gray-700 text-center">Désolé, vous n'êtes pas autorisé à accéder à cette page.</p>
		<div class="flex justify-center">
			<img class="w-1/2" src="{{ asset('img/error.png') }}" alt="Image Logo">
		</div>
		<p class="text-center mt-4 text-primary"><a href="javascript:history.back()">Retour à la page précédente</a></p>
	</div>

{% endblock %}
