{% extends 'base.html.twig' %}

{% block title %}Plumbill{% endblock %}

{% block body %}
    {% include 'components/Navbar.html.twig' %}

    <main class="container mx-auto pt-1">
        <header class="mb-2 p-1 w-full flex items-center gap-2 justify-between md:justify-start">
            <a href="{{ path('payment_index') }}"><i class="material-icons">arrow_left</i></a>
            <h1 class="font-bold text-3xl">Paiement</h1>
            <a href="{{ path('payment_edit', {id: payment.id}) }}"
               class="flex py-2 px-4 rounded bg-white border border-blue-800 text-blue-800">Filtrer</a>
        </header>
        <article class="flex flex-col w-full gap-1">
            
        </article>
    </main>
{% endblock %}
