<div class="w-16 h-5 px-1.5 py-0.5 border rounded justify-center items-center inline-flex {{ invoiceStatus.bgColor }} {{ invoiceStatus.borderColor }}">
    <span class="{{ invoiceStatus.textColor }} text-center text-xs font-bold leading-none">{{ invoiceStatus.displayName }}</span>
</div>